@import url(file:///C:/Users/user/Desktop/%E6%96%B0%E5%A2%9E%E8%B3%87%E6%96%99%E5%A4%BE/2.css);

body {
    height: 100vh;
    margin: 0;
    background: #002b36;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.xmas-tree {
    position: relative;
    width: 500px;
    height: 590px;
    z-index: -2;
}

.star {
    z-index: 3;
    position: absolute;
    color: #fffc00;
    font-size: 40px;
    text-shadow: 0 0 20px #fffc00;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    animation: spin 2s infinite linear forwards;
}

@keyframes spin {
    to{
        transform: rotate(1turn);
    }
}

.t1 {
    position: absolute;
    z-index: 2;
    border-bottom: 100px solid #2bd937;
    margin-left: -100px;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 20%;
    left: 50%;
}

.t2 {
    position: absolute;
    z-index: 1;
    border-bottom: 125px solid #2bd937;
    margin-left: -125px;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 27%;
    left: 50%;
}

.t3{
    position: absolute;
    border-bottom: 150px solid #2bd937;
    margin-left: -150px;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 34%;
    left: 50%;
}


.t1::before,
.t1::after,
.t2::before,
.t2::after,
.t3::before,
.t3::after{
    position: absolute;
    content: "";
    z-index: 3;
    width: 10px;
    height: 20px;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.t2::before {
    animation-delay: 0.5s;
}

.t3::before {
    animation-delay: 1s;
}

.t3::after {
    animation-delay: 1s;
}

@keyframes blank {
    30% {
        background: rgb(255, 252, 0);
        box-shadow: 0 0 20px 10px #fffc0059;
    }

    60% {
        background: #d6d400;
        box-shadow: 0 0 0px #fffc0059;
    }
}

.t1::before {
    top: 77px;
    left: -82px;
}

.t1::after {
    top: 77px;
    right: -82px;
}