<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="約炮網" content="width=device-width, initial-scale=1.0">
    <title>約炮網</title>
    <link rel="stylesheet" href="./style/style.css" >
</head>
<body>

    <nav>
    <ul><a href="#">最新消息</a></ul>
    <ul><a href="#">推薦炮友</a></ul>
    <ul><a href="#">隨機約</a></ul>
    <ul><a href="#">登入</a></ul>
    </nav>

    <main>
    <h1><p class="rainbow-text">車力巨人免費約炮</p></h1>
    <h2>立刻約炮</h2>
    <P>注冊會員不用帶套!!!</P>
    <p><em><a href="#">注冊會員</a></em></p>
    </main>

        <blockquote>" 當紅 頭牌 "</blockquote> 
    <img src="jpg/1.jpg" > 
</body>
</html>